.container {
  margin: 10px;
  background-color: #d4d4d4;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgb(189, 189, 189);
}

.container img {
  width: 300px;
}

.container h3 {
  color: #696969;
  margin: 30px 20px 20px;
}

.container p {
  margin: 0 20px 20px;
  background-color: rgb(10, 145, 46);
  border-radius: 10px;
  width: fit-content;
  padding: 5px;
  color: #fff;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #a7a7a7;
}

.counter img {
  width: 27px;
  margin: 20px;
  cursor: pointer;
}
.counter span {
  padding: 6px 9px;
  background-color: #1f48a1;
  border-radius: 5px;
  color: #fff;
}

.deactivated {
  opacity: 0.3;
}
